@import url('https://fonts.googleapis.com/css?family=Bebas+Neue');

body {
    font-family: sans-serif;
    color: #0d4e46;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    padding: 20px;
    text-align: center;
    background-image: url('https://raw.githubusercontent.com/PabloSanhueza1/Ofrenda-Templo-Nueva-Vision/main/Background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
}

h2,
p {
    text-align: center;
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 20px;
    outline: none;
    margin: 20px 0;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background-color: #3fbaac;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 5px #167a6e;
}

input[type=range]:focus::-webkit-slider-thumb {
    box-shadow: 0 0 5px #23bfae;
}

output {
    display: block;
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    font-family: 'Bebas Neue', sans-serif;
    color: #000000;
}

/* estilos del slider */
#sliderValue {
    font-size: 30px;
    position: absolute;
    top: -60px;
    /* Ajusta el valor del margen superior según tu preferencia */
    left: 50%;
    transform: translateX(-50%);
}

.slidecontainer {
    position: relative;
    margin-top: 70px;
    /* Ajusta el valor del margen superior según tu preferencia */
}

/* estilos del boton OFRENDAR */
.ofrendaButton {
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    background: #3fbaac;
    border-radius: 5px;
    padding: 10px 24px 10px 50px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 100;
    font-style: normal;
    background-color: #3fbaac;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    line-height: 16px;
    font-family: 'Bebas Neue', sans-serif;
}

.ofrendaButton:hover {
    background-color: #408c99;
}

.ofrendaButton:active {
    position: relative;
    top: 1px;
}

/* estilos del boton OTRA CANTIDAD */
.otraCantidadButton {
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    background: #3fbaac;
    border-radius: 5px;
    padding: 10px 24px 10px 50px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 100;
    font-style: normal;
    background-color: #3fbaac;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    line-height: 16px;
    font-family: 'Bebas Neue', sans-serif;
}

.otraCantidadButton:hover {
    background-color: #408c99;
}

.otraCantidadButton:active {
    position: relative;
    top: 1px;
}

/* Ajustes de las box */
.container {
    font-family: sans-serif;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* estilos de las box */
.box {
    padding: 25px;
    box-shadow: 8px 8px 35px 0px rgb(0 0 0 / 25%);
    background-color: rgb(75, 222, 206);
    background-clip: padding-box;
    margin-bottom: 30px;
}

/* estilos del logo */
.logo {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    max-height: 150px;
    padding: 10px;
    box-sizing: border-box;
}

/* estilos para móviles */
@media (max-width: 800px) {
    body {
        background-image: url('https://raw.githubusercontent.com/PabloSanhueza1/Ofrenda-Templo-Nueva-Vision/main/Background.svg');
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
        background-attachment: fixed;
        background-position: center;
        overflow-y: auto;
    }

    .container {
        top: 50%;
        padding-bottom: 150px;
        /* Ajusta el padding de la caja de ofrenda en dispositivos móviles */
    }

    .box {
        margin-left: auto;
        /* Centra horizontalmente los elementos */
        margin-right: auto;
        /* Centra horizontalmente los elementos */
    }

    .logo {
        top: 95vw;
        max-height: 20vh;
        /* Ajusta el tamaño del logo en dispositivos móviles */
        padding: 10px;
        /* Ajusta el espaciado del logo en dispositivos móviles */
    }
}