@import url('https://fonts.googleapis.com/css?family=Bebas+Neue');
@import url('https://fonts.googleapis.com/css?family=EB Garamond');

body {
    font-family: sans-serif;
    margin: 0;
    padding: 30px;
    text-align: center;
    background-image: url('https://raw.githubusercontent.com/PabloSanhueza1/Ofrenda-Templo-Nueva-Vision/main/Background.svg');
    background-size: cover;
}

p {
    font-size: 24px;
    text-align: center;
    font-family: 'Times New Roman', sans-serif;
}

h3 {
    font-size: 20px;
    text-align: center;
}

input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 20px;
    outline: none;
    margin: 20px 0;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background-color: #3fbaac;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 5px #167a6e;
}

input[type=range]:focus::-webkit-slider-thumb {
    box-shadow: 0 0 5px #23bfae;
}

output {
    display: block;
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    font-family: 'Bebas Neue', sans-serif;
    color: #000000;
}

/* estilos del slider */
#sliderValue {
    position: relative;
    font-size: 35px;
    margin-bottom: 10px;
}

.slidecontainer {
    position: relative;
    margin-top: 70px;
}

/* estilos del boton OFRENDAR */
.ofrendaButton {
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    background: #3fbaac;
    border-radius: 5px;
    padding: 10px 24px 10px 50px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 100;
    font-style: normal;
    background-color: #3fbaac;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    line-height: 16px;
    font-family: 'Bebas Neue', sans-serif;
}

.ofrendaButton:hover {
    background-color: #408c99;
}

.ofrendaButton:active {
    position: relative;
    top: 1px;
}

/* estilos del boton OTRA CANTIDAD */
.otraCantidadButton {
    backface-visibility: hidden;
    position: relative;
    cursor: pointer;
    background: #3fbaac;
    border-radius: 5px;
    padding: 10px 24px 10px 50px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 100;
    font-style: normal;
    background-color: #3fbaac;
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    line-height: 16px;
    font-family: 'Bebas Neue', sans-serif;
}

.otraCantidadButton:hover {
    background-color: #408c99;
}

.otraCantidadButton:active {
    position: relative;
    top: 1px;
}

/* estilos de las box */
.box {
    width: 400px;
    padding: 25px;
    box-shadow: 8px 8px 35px 0px rgb(0 0 0 / 25%);
    background-color: rgb(75, 222, 206);
    background-clip: padding-box;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.bienvenida {
    position: relative;
    top: 0;
    margin-bottom: 20px;
}

.cantidad {
    position: relative;
    top: 20px;
}

/* estilos del logo */
.logo {
    position: relative;
    top: 20px;
    max-height: 150px;
    padding: 10px;
    box-sizing: border-box;
}

/* estilos para móviles */
@media (max-width: 800px) {
    body {
        background-image: url('https://raw.githubusercontent.com/PabloSanhueza1/Ofrenda-Templo-Nueva-Vision/main/Background.svg');
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        overflow-y: auto;
    }

    p {
        font-size: 20px;
        text-align: center;
        font-family: 'Times New Roman', sans-serif;
    }

    h3 {
        font-size: 17px;
        text-align: center;
    }

    .ofrendaButton {
        font-size: 21px;
    }

    .otraCantidadButton {
        font-size: 21px;
    }

    /* estilos de las box */
    .box {
        width: 300px;
        padding: 25px;
        box-shadow: 8px 8px 35px 0px rgb(0 0 0 / 25%);
        background-color: rgb(75, 222, 206);
        background-clip: padding-box;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Forzar modo claro */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #ffffff;
        color: #000000;
    }
}